<nav id="navbar1" class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark">
  <div class="container">
      <a class="navbar-brand logo" routerLink="/">
       Finance Rules
      </a>
      <button id="menu_button" class="navbar-toggler" (click)="toggleMenu()" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="mdi mdi-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse" scrollSpy>
          <ul class="navbar-nav navbar-center" id="mySidenav">      
            <li class="nav-item">
                <a data="id_home" routerLink="/ourwork" class="nav-link" >Our Work</a>
            </li>
            <li class="nav-item">
                <a data="id_home" routerLink="/sign-up" class="nav-link" >Free Consultation</a>
            </li>
            <li class="nav-item">
                <a data="id_home" routerLink="/contactus" class="nav-link" >Contact Us</a>
            </li>
          </ul>
          <div class="nav-button ml-auto">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                     <a data="id_home" routerLink="/login" class="nav-link"><button type="button" class="btn btn-custom navbar-btn btn-rounded waves-effect waves-light">Login</button></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</nav>