<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 margin-t-20">
              <h4>Finance Rules</h4>
              <div class="text-muted margin-t-20">
                  <ul class="list-unstyled footer-list">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Contact us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 margin-t-20">
              <h4>Information</h4>
              <div class="text-muted margin-t-20">
                  <ul class="list-unstyled footer-list">
                      <li><a href="#">About us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 margin-t-20">
              <h4>Support</h4>
              <div class="text-muted margin-t-20">
                  <ul class="list-unstyled footer-list">
                      <li><a href="">Contact</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 margin-t-20">
              <h4>Support</h4>
              <div class="text-muted margin-t-20">
              </div>
              <form class="form subscribe">
                  <input placeholder="Email" class="form-control" required>
                  <a href="#" class="submit"><i class="pe-7s-paper-plane"></i></a>
              </form>
          </div>
      </div>
  </div>
</footer>

<div class="footer-alt">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="float-left pull-none ">
                  <p class="copy-rights text-muted"></p>
              </div>
              <div class="float-right pull-none ">
                  <img src="../../../assets/images/payment.png" alt="payment-img" height="36" />
              </div>
              <div class="clearfix"></div>
          </div>
      </div>
  </div>
</div>

