<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 margin-t-20">
              <h4>Retireestreet</h4>
              <div class="text-muted margin-t-20">
                  <ul class="list-unstyled footer-list">
                      <li><a href="">Home</a></li>
                      <li><a data="id_home" routerLink="/about-us" class="nav-link">About us</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 margin-t-20">
              <h4>Information</h4>
              <div class="text-muted margin-t-20">
                  <ul class="list-unstyled footer-list">
                      <li><a href="#">About us</a></li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-3 margin-t-20">
            <div class="text-muted margin-t-20">
                <ul class="list-unstyled footer-list">
                    <li>Call us at +1 818-804-8769.</li>
                </ul>
            </div>
        </div>

          <div class="col-lg-3 margin-t-20">
              <h4>Support</h4>
              <div class="text-muted margin-t-20">
              </div>
              <form class="form subscribe">
                  <input placeholder="Email" class="form-control" required>
                  <a href="#" class="submit"><i class="pe-7s-paper-plane"></i></a>
              </form>
          </div>
      </div>
  </div>
</footer>



