<div class="a">
  <br>
  <br>
  <br>
  <br>
  
  <h1 >Portfolio</h1>
  
  <div class="portfolio-category-content">
  
  
  <div class="project_container">
  
  
    <div class="card hoverable">
  
      <div class="card-start">
  
         
        <div class="project_img">
          <img src="assets/images/working.svg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
          </div>
      </div>
  
      <div class="card-content">
  
  
        <p>
          Secures $125m Joint Venture Commitment with Digital Alpha 
  
          Cisco & Cloudian Collaborate to Create Scale-Out Enterprise Object Storage Solutions
          
          Cloudian Taking Customers From NetApp In $24B Market (Forbes)
          
          Most Widely Deployed Independent Object Storage Provider
          
          Cloudian & Seagate Collaborate for Joint Solution
        </p>
  
      </div>
  
      <br>
  
  </div>
  
  
  
    <div class="card hoverable">
  
      <div class="card-start">
  
      
        <div class="project_img">
          <img src="/assets/images/google2.jpeg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
          </div>
      </div>
      
      <div class="card-content">
           <p>
            Google Station announcement at Mobile World Congress Barcelona
        </p>
  
      </div>
  
      <br>
      
    
    </div>
    <div class="card hoverable">
  
      <div class="card-start">
  
         
        <div class="project_img">
          <img src="assets/images/packet.svg">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
            PacketFabric Secures $75M Joint Venture Funding With Digital Alpha Advisors
        </p>
  
      </div>
  
      <br>
      
      
    
  </div>
  
    <br>
  
        <div class="card hoverable">
  
      <div class="card-start">
        
    
        <div class="project_img">
          <img src="assets/images/cloudian2.png">
        </div>
       
      
      <div class="card-end">
          <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
        </div>
      </div>
      <div class="card-content">
  
        <p>
            Secures $125m Joint Venture Commitment with Digital Alpha 

            Cisco & Cloudian Collaborate to Create Scale-Out Enterprise Object Storage Solutions
            
            Cloudian Taking Customers From NetApp In $24B Market (Forbes)
            
            Most Widely Deployed Independent Object Storage Provider
            
        </p>
  
      </div>
  
      <br>
      
     
  
    </div>
  
    <div class="card hoverable">
  
      <div class="card-start">
          
    
        <div class="project_img">
          <img src="assets/images/ukcloud.png">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlisghts</h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
            UKCloud secures £25m from Cisco investment partner

            Letter from CEO - Simon Hansford
            
            UKCloud awarded an expanded presence on G-Cloud 11 with new and improved multi-cloud services
        </p>
  
      </div>
  
      <br>
      
  
  
    </div>
    <div class="card hoverable">
  
      <div class="card-start">
          
        <div class="project_img">
          <img src="assets/images/jet.png">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
            JetStream Software Secures Funding Led by Digital Alpha to Advance Disaster Recovery as a Service, Cloud Data Protection
        </p>
  
      </div>
  
      <br>
      
    
      </div>
  
    <div class="card hoverable">
  
      <div class="card-start">
  
         
        <div class="project_img">
          <img src="assets/images/connexin.png">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
            Smart Cities Race Steps up a Gear with £10m Connexin Investment
        </p>
  
      </div>
  
      <br>
      
    
  
    </div>
    <div class="card hoverable">
  
      <div class="card-start">
         
    
        <div class="project_img">
          <img src="assets/images/quant.png">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
            $10m Equity Investment From Digital Alpha to Scale its Global Business

            World Economic Forum Awards Quantela Inc. the Coveted 'Technology Pioneer'
            
            Quantela to Roll Out Smart City Services in the Opportunity Zones of the City of Erie, PA
        </p>
  
      </div>
  
      <br>
      
     
  
    </div>
    <div class="card hoverable">
  
      <div class="card-start">
  
         
        <div class="project_img">
          <img src="assets/images/pryon2.png">
        </div>
        <div class="card-end">
            <a target="_blank" rel="noopener noreferrer" href="https://colors.justinschaaf.com"><h4>Press Highlights</h4></a>
          </div>
      </div>
      
      <div class="card-content">
  
        <p>
            Pryon Announces $20M Funding Round
        </p>
  
      </div>
  
      <br>
      
     
  </div>
    </div>
  </div>
  </div>

  <style>
  
  h1 {
    text-align: center;
  }
  .a {
    background-color: aqua
  }
  </style>
  